.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Projekt_CV/FileContentIndex/994eee32-a26d-4df8-bb98-800996997d17.vsidx
.vs/Projekt_CV/FileContentIndex/read.lock
.vs/Projekt_CV/config/applicationhost.config
.vs/Projekt_CV/v17/.wsuo
